{% extends 'base.html' %}

{% block title %}
Django Songs - Canciones
{% endblock %}

{% block content %}

<div class="text-center mb-5">
  <h1 class="text-success">
    🎧 Django Songs
  </h1>
  <p class="text-secondary">
    Catálogo personal de canciones favoritas
  </p>
</div>

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="card-title mb-0">
        Canciones
      </h2>
      <a
              href="{% url 'cancion_create' %}"
              class="btn btn-success"
      >
        + Agregar canción
      </a>
    </div>

    {% if canciones %}

    <div class="table-responsive">
      <table class="table table-dark table-hover align-middle">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Artista</th>
            <th>Popularidad</th>
          </tr>
        </thead>

        <tbody>
        {% for cancion in canciones %}
          <tr>
            <td>{{ cancion.id }}</td>
            <td>{{ cancion.titulo }}</td>
            <td>{{ cancion.artista }}</td>
            <td>{{ cancion.popularidad }}/10</td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>

    {% else %}
    <div class="alert alert-secondary">
      No hay canciones registradas.
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}